<mat-card>
  <mat-card-title>Registration</mat-card-title>
  <mat-card-content>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput formControlName="name" required />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" required />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Select me</mat-label>
        <mat-select>
           <mat-option value="option">student</mat-option>
           <mat-option value="option">teacher</mat-option>
           <mat-option value="option">admin</mat-option>
        </mat-select>
        <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint> -->
      </mat-form-field>

      <!-- <mat-form-field appearance="fill">
        <mat-label>בחר אפשרות:</mat-label>
        <select formControlName="option" id="options">
          @for (option of options; track option) {
          <option [ngValue]="option">{{ option }}</option>
          }
        </select>
      </mat-form-field> -->

      <button mat-raised-button color="primary" type="submit">Register</button>
    </form>
  </mat-card-content>
</mat-card>
<router-outlet></router-outlet>
